.head__login {
  color: var(--color-texto-enlace);
  background-color: var(--color-backgroud-btn-claro);

  font-family: var(--contenido);
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .head__login {
    display: flex;
    order: 2;

    padding: 0.5rem 2rem;

    font-weight: 400;
  }
}