.file__container {
  position: relative;
  padding: 1.2rem;
}
.file__input{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
}
.file__descripcion {
  background-color: white;
  
  padding: .3rem 2rem;

  font-family: var(--contenido);
  font-size: 1rem;

  color: var(--color-texto-descripcion);
  border-radius: 5rem;
}