.inventario__titulo {
  font-family: var(--contenido);
  font-size: 1.375rem;
  font-weight: 700;

  color: var(--color-texto-descripcion);
}
@media (min-width: 1024px) {
  .inventario__titulo {
    font-size: 2rem;
  }
}