.add__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding: 1rem 0;
}
@media (min-width: 768px) {
  .add__form {
    padding: 2rem 0;
  }
}
@media (min-width: 1024px) {
  .add__form {
    padding: 3rem 0;
  }
}
