.end__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding-bottom: 1rem;
}
.end__link {
  font-family: var(--contenido);
  font-size: 1rem;
  font-weight: 500;

  color: var(--color-texto-descripcion);
}
@media (min-width: 768px) {
  .end__links {
    align-items: flex-start;
  }
}