.end__contacto {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.contacto__titulo {
  font-family: var(--contenido);
  font-size: 1rem;
  font-weight: 700;

  color: var(--color-texto-descripcion);
}
#mensaje {
  max-width: 248px;
  max-height: 82px;
  padding: .8rem;

  border: none;

  font-family: var(--contenido);
  font-size: 1rem;
  font-weight: 400;

  color: var(--color-texto-descripcion);
}
#mensaje:focus {
  outline: none;
}
.contacto__btn {
  width: 160px;

  background-color: var(--color-backgroud-btn);
  color: var(--color-texto-enlace-claro);

  font-family: var(--contenido);
  font-size: 0.875rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .end__contacto{
    width: 50%;
  }
  #mensaje {
    max-width: 100%;    
  }
}
@media (min-width: 1024px) {
  .end__contacto {
    width: 560px;
  }
  #mensaje {
    max-width: 100%;
  }
}