.end__container-uno {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-backgroud-footer);

  padding: 1rem;
}
@media (min-width: 768px) {
  .end__container-uno {
    flex-direction: row;
    justify-content: space-around;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }
}